<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron bg-warning m-5">
        <h1 class="display-4">Step 2</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
        <hr class="my-4" />
        <p>
          It uses utility classes for typography and spacing to space content
          out within the larger container.
        </p>

        <button
          type="button"
          class="btn btn-primary btn-lg mr-4"
          (click)="goToStep1()"
        >
          Previous
        </button>

        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="goToStep3()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
